@page
@model ServiceHost.Areas.Administration.Pages.AdminModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

    <label>Username:</label>
    <input type="text" name="Username" /><br />

    <label>Password:</label>
    <input type="password" name="Password" /><br />

    <button type="submit">Login</button>

    @if (Model.ErrorMessage != null)
    {
        <p style="color:red">@Model.ErrorMessage</p>
    }
</form>
